body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
  letter-spacing: -0.025em;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
}

.event-card {
  background-color: lightgrey;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 18px;
  width: 190px;
  overflow: hidden;
}

.event-card:hover {
  box-shadow: 0 4px 6px;
}

.event-info {
  margin-bottom: 8px;
}

.event-title {
  font-weight: bold;
}

.event-date {
  color: #555;
}

.event-actions {
  display: flex;
  justify-content: space-between;
}

.delete-btn:hover {
  background-color: red;
  color: white;
}

.rem-para {
  background-color: lightgrey;
  color: white;
  padding: 2px;
  width: fit-content;

  position: relative;
  left: -1px;
  bottom: 15px;
}

input {
  padding: 5px;
  width: 420px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid white;
  padding: 15px;
  border-radius: 10px;
  gap: 4px;
  background: lightgrey;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333333;
}

label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}

@media (max-width: 480px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
  .event-list {
    width: 100%;
    padding: 0 14px;
    margin: 10px;
  }

  .event-card {
    width: 100%;
    margin: 12px;
    padding: 20px;
  }

  input {
    width: auto;
    padding: 8px;
  }

  form {
    width: 90%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .rem-para {
    left: 0;
    bottom: 0;
  }
}
